<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "肌質診断", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user.present? %>
          <li class="dropdown">
              <li><%= link_to "診断する", new_question_path(current_user) %></li>
              <li><%= link_to "個人情報を編集する", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "ログアウト", logout_path(current_user), method: :delete %>
              </li>
          </li>
        <% else %>
        <% if current_user.blank? %>
          <li><%= link_to "LINEログイン", user_line_omniauth_authorize_path(current_user), class: "btn-center btn-primary" %></li>
        <% end %>
        <% end %>
      </ul>
    </nav>
  </div>
</header> 